* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

h2 {
  font-size: 32px;
  text-align: left;
}

input {
	margin-bottom: 20px;
}

.center {
  text-align: center;
}

body {
  background:  
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url("https://s33.postimg.cc/t1dp6y0yn/adam-jaime-119551-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.row {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.row::before,
.row::after {
  content: '';
	display: table;
}

.row::after {
	clear: both;
}

.col-6, 
.col-4, 
.col-12 {
	float: left;
	padding-left: 1.0416666%;
	padding-right: 1.0416666%;
	text-align: center;
  width: 100%;
}

@media only screen and (min-width: 640px) {
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
}

button {
  background-color: #A66816;
  border: 3px solid #A66816;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
	padding: 20px;
  text-transform: uppercase;
}

button:hover {
  background-color: #707863;
  border: 3px solid #A66816;
  cursor: pointer;
}

.search-btn {
	margin-bottom: 20px;
}

.search-btn,
.category-list-button {
	width: 100%;
}

.category-list-button, 
.wildcard-repeat-button {
	margin: 0 auto;
  margin-bottom: 20px;
}

label {
	display: none;
}

.search-input {
	padding: 20px;
}

.thumbnail {
  border-radius: 50%;
	width: 150px;
}

.thumbnail:hover,
h2:hover {
	cursor: pointer;
}

.name-photo {
  margin-bottom: 20px;
}

.name-photo img {
  border: 2px solid white;
}

.thumbnail-name {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.name-photo img:hover {
  border: 2px solid #A66816;
}

.feature-image {
  border-radius: 50%;
  width: 300px;
}

.ingredient-list {
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-left: 0;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}

.ingredient-list li {
	margin-bottom: 10px;
}