* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: white;
}

h2 {
  font-size: 32px;
  text-align: left;
}

#recipe h2 {
  text-align: center;
}

body {
  background:  
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    url("https://s33.postimg.cc/t1dp6y0yn/adam-jaime-119551-unsplash.jpg");
  color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-6, 
.col-4, 
.col-12 {
	float: left;
	padding-left: 1.0416666%;
	padding-right: 1.0416666%;
	width: 100%;
	text-align: center;
}

@media only screen and (min-width: 640px) {
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
}

button {
	padding: 20px;
	text-transform: uppercase;
  background-color: #db8a23;
  border: 3px solid #db8a23;
  color: white;
  letter-spacing: 4px;
  font-family: 'Raleway', sans-serif;
}

button:hover {
  background-color: #869078;
  border: 3px solid #db8a23;
  cursor: pointer;
}

#name-button,
#category-button,
#ingredient-button,
#wildcard-button,
.category-list-button {
	width: 100%;
}

.category-list-button, 
#wildcard-repeat-button {
	margin: 0 auto;
  margin-bottom: 20px;
}

label {
	display: none;
}

#name-search,
#ingredient-search {
	padding: 20px;
}

.thumbnail {
	width: 150px;
  border-radius: 50%;
}

#name-search-results img:hover,
h3:hover {
	cursor: pointer;
}

.name-photo {
  margin-bottom: 20px;
}

.name-photo img {
  opacity: 0.8;
  border: 2px solid white;
}

.name-photo h3 {
  padding-bottom: 20px;
}

.name-photo img:hover {
  opacity: 1;
}

.feature-image {
	width: 300px;
  border-radius: 50%;
}

#ingredient-list {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 200px;
}

li {
  text-transform: capitalize;
}